<div class="row mt-4 justify-content-evenly">
  <div class="mt-3 mb-3 col-10">
    <h6 class='text-start ms-2 fw-bolder'>My todos</h6>
  </div>
</div>
<div class="row justify-content-evenly">
  <div class="col-10">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th style="width: 34%">Title</th>
          <th style="width: 50%">Description</th>
            <th>Completed</th>
          <th>Delete</th>
        </tr>
        <tr>
          <td>
            <input type="text"
                   placeholder="Type to search by title..."
                   class="search form-control"
                   [(ngModel)]="filterByTitle">

          </td>
          <td>
            <input type="text"
                   placeholder="Type to search by description..."
                   class="search form-control"
                   [(ngModel)]="filterByDescription"
            >
          </td>
          <td></td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of data
        | filterTitle: filterByTitle
        | filterDescription: filterByDescription; let index = index">
          <td>
            {{ item.title }}
          </td>
          <td>
            {{ item.description }}
          </td>
            <td><input type="checkbox" [checked]="item.completed" (change)="completeItem(index)"></td>
          <td>
            <button class="btn-icon btn btn-danger" type="button" (click)="deleteItem(index)">
              <i class="bi bi-trash"></i>
            </button>
          </td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
